@media (max-width: 475px) {
    .container {
        width: 350px;
        padding: 40px;
    }

    h1 {
        font-size: 25px;
    }
}

@media (max-width: 415px) {
    .container {
        width: 320px;
        padding: 40px;
    }

    img {
        width: 60px;
    }
}

@media (max-width: 385px) {
    .container {
        width: 300px;
        padding: 40px;
    }
}

@media (max-width: 355px) {
    .container {
        width: 280px;
        padding: 40px;
    }

    img {
        width: 50px;
    }

    h1 {
        font-size: 22px;
    }

    .btn {
        background-color: #e92e3d;
        padding: 7px 10px;
        font-size: 14px;
    }
}
@media (max-width: 336px) {
    .container {
        width: 260px;
        padding: 30px;
    }

    img {
        width: 50px;
    }

    h1 {
        font-size: 21px;
    }

    .btn {
        background-color: #e92e3d;
        padding: 7px 10px;
        font-size: 14px;
    }
}